@import './scssHeader.scss';

aside{
    position: relative;
    margin: 70px 0;
    #profile-container{
        position: fixed;
        padding: 0 30px;
        @include flex();
        @include flex-direction-vertical();
        @include flex-justify(center);
        
        img{
            margin: 0 auto;
            border :12px solid rgb(50, 50, 50);
            padding : 1px;
            border-radius: 50%;
            margin-bottom: 60px;
            width: 200px;
            
            position: relative;
            z-index: 1;
        }
        .row{
            @include text-align();
            @include flex();
            @include flex-justify(space-between);
            font-size: 15px;
            line-height: 160%;
        }
        .icon{
            margin: 10px 0;
            @include flex-justify(flex-end);
            font-size: 25px;
            i{
                margin: 0 6px;
            }
        }

    }
}

aside::before{
    position: absolute;
    content: '';
    // top:%;
    height: 90%;
    border-left: 2px solid rgb(200,200,200);

    // transform: translate(-50%, 0);
}