<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    {{>head}}
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="circleContainer">
            <div id="entrance" onclick="move('main')"> 
               <i class="fas fa-dungeon"></i>
            </div>
            <div class='circle'></div> 
        </div>
        <p>Ha WookHyun</p>
    </div>
</body>
<script>
    TweenMax.to(".circle", 2, {
        ease: Back.easeOut,
        opacity:0,
        scale: 2,
        delay: 1,
        repeat: -1,
    },2);
    function move(target){
        location.href = target;
    }
</script>
</html>