<link rel="stylesheet" href="css/profile.css">
<aside>
    <div id="profile-container">
        <img src="/img/profile.png" class="row" alt="owner picture">
        <div id="profile-content">
            <div class="row">
                <span>이름</span>
                <span>하욱현</span>
            </div>
            <div class="row">
                <span>생년월일</span>
                <span>1993년 3월 22일</span>
            </div>
            <div class="row">
                <span>학력</span>
                <span>계명대학교</span>
            </div>
            <div class="row icon">
                <i class="fab fa-python"></i>
                <i class="fab fa-php"></i>
                <i class="fab fa-sass"></i>
                <i class="fab fa-node-js"></i>
                <i class="fab fa-vuejs"></i>
            </div>
            <div class="row icon">
                <a href="https://github.com/ukhyun2402"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</aside>