<div id='timeline'>
    <div class='circle' ref='circle'><i class="far fa-smile-wink"></i></div>
    <div class="circlePulse" ref="circlePulse"></div>

    <div id="line" ref="line">
        <div style='height:100%'></div>
    </div>
</div>